<!DOCTYPE html>
<html>
<body>
<h2 class="title">输入文本</h2>
<textarea style="height: 250px;width:1000px " rows="12" placeholder="请输入待分析的文本。" name="inputText"></textarea>
b: <input type="text" id="b" name="b"> <br>
<p>result: <span id='result'></span></p>
<submit-btn text="提交分析" click="getResult()" flag="flag" style="float: left;" class="ng-isolate-scope">
    <a href="javascript:;" ng-hide="flag" style="background-color: rgb(255, 112, 67);" ng-click="click()"
       class="ng-binding"> 提交分析</a>
    <a ng-show="flag" style="background-color: lightgray;" class="ng-hide">
        <img src="images/loading.gif" style="height: 20px;"></a></submit-btn>
<button type="button" id='sum'>提交</button>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script>
    $(function () {
        $("#sum").click(function () {
            var b = $("#b").val();
            $.ajax({
                type: "post",
                url: '/add/',
                dataType: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}', //CSRF跨站请求伪造，CSRF认证
                    a: a,
                    b: b
                },
                success: function (msg) {
                    $("#result").html(msg.result);
                }
            });
        });
    });
</script>
</body>
</html>

